@font-face 
{
    font-family: 'thai_sans_literegular';
    src: url('thaisanslite_r1-webfont.eot');
    src: url('thaisanslite_r1-webfont.eot?#iefix') format('embedded-opentype'),
         url('thaisanslite_r1-webfont.woff2') format('woff2'),
         url('thaisanslite_r1-webfont.woff') format('woff'),
         url('thaisanslite_r1-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
html
{
    font-size: 62.5%;
}
body
{
	font-family: 'thai_sans_literegular';
	font-size: 1.4em;
}